{{ $md := .Site.Params.body_is_markdown | default false }} {{ with
.Site.Params.book }} {{ if .enable }}
<section id="book" class="wrapper style5">
  <div class="inner">
    <!-- Calendly inline widget begin -->
    <div
      class="calendly-inline-widget"
      data-url="https://calendly.com/josh-rwxt?hide_landing_page_details=1&hide_gdpr_banner=1&primary_color=53afa6"
      style="min-width: 320px; height: 700px"></div>
    <script
      type="text/javascript"
      src="https://assets.calendly.com/assets/external/widget.js"
      async></script>
    <!-- Calendly inline widget end -->
  </div>
</section>
{{ end }} {{ end }}
